mixin placeCard(place={})
  .place__card

    .place__header
      h3
        a(href=`/place/${place.slug}`) #{place.name}

      .place__tags
        each t, index in place.tags
          a(href=`/tags/${t}`) #{t}
          if index < place.tags.length - 1
            span #{", "}

    - const dots = place.description.split(' ').length > 1 ? '...' : '' 
    .place__info #{place.description.split(' ').slice(0, 25).join(' ') + dots}
      a(href=`/place/${place.slug}`) Read more!

    //- actions
    .place__actions
      if user && place.author.equals(user._id)
        .place__action.place__action--edit
          a(href=`/places/${place._id}/edit`)
            != h.icon('pencil')

      if user
        .place__action--like
          form.heart(action=`api/v1/places/${place._id}/heart`, method="POST")

            - const userHearts = user.hearts.map(obj => obj.toString());
            - const buttonClass = userHearts.includes(place._id.toString()) ? 'heart__button--hearted' : ''

            button.heart__button(type="submit" name='heart', class=(buttonClass))
              != h.icon('heart')

      if place.reviews
        .place__action.place__action--count
          != h.icon('comment')
          span #{place.reviews.length}

    img.place__img(src=`/uploads/${place.photo || 'place.jpg'}`, alt=`${place.name} photo`)
    .color-overlay
    .gradient-overlay